<!DOCTYPE = html>

<body>
<script>
setInterval(function() {
            $("#dataloader").load("chart.html");
            //$("#dataloader").load("database.py")
        }, 500);
</script>
<div id="dataloader"></div>

<div id= 'content'></div>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<div style="width: 200px; height 400px;">
    <div id="graph-left" style="position: fixed ;left: 90pt"></div>
    </div>
<div style="width: 200px; height 400px;">
<div id="graph-right" style="position: fixed; right:90pt;"></div>
    </div>

<script type = "text/javascript">
    $(document).ready(function () {
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
    var a = [(new Date()).getTime(),null]
    var data = [];
    for(i = 0; i< 2000; i++){
    data.push(a);}
            
    Highcharts.chart('graph-left', {
        chart: {
            borderColor: '#EBBA95',
            borderRadius: 20,
            borderWidth: 2,
            type: 'line',
            width: 500,
            height: 320,
            spacingLeft: 10,
            //animation: Highcharts.svg, // don't animate in old IE
            animation: false,
            //animation: {
            //    duration: 1000
            //},
            marginRight: 10,
            events: {
                load: function () {
                    // set up the updating of the chart each second
                    Vseries0 = this.series[0];
                    //series1 = this.series[1];
                    var len = Vseries0.data.length;
                    Vseries0.data[len - 1].update({
                        marker: {
                        enabled: true
                    }
                    });
                    setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                    y0 = parseFloat(document.getElementById('PV').innerText);
                    
                    //console.log(Vseries0);
                    //y = y+1;
                    //y1 = parseFloat(document.getElementById('Battery1').innerText);
                    Vseries0.addPoint([x, y0], true, true);
                    //series1.addPoint([x, y1], true, true);
                    }, 1000);
                }
            }
        },
        title: {
            text: 'Voltage Graph'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 1
        },
        yAxis: {
            title: {
                text: 'Value'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            //min: 300,
            //max: 400
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    Highcharts.dateFormat('%H:%M:%S', this.x) + '<br/>' +
                    Highcharts.numberFormat(this.y, 2);
            }
        },
        legend: {
            enabled: true
        },
        exporting: {
            enabled: true
        },
        series: [{
            name: 'PV Voltage',
            data: data,
            color: '#00FF00'
        }],
    });
    
    Highcharts.chart('graph-right', {
        chart: {
            borderColor: '#EBBA95',
            borderRadius: 20,
            borderWidth: 2,
            type: 'line',
            width: 500,
            height: 320,
            //animation: Highcharts.svg, // don't animate in old IE
            animation: false,
            //animation: {
            //    duration: 1000
            //},
            marginRight: 10,
            events: {
                load: function () {
                    // set up the updating of the chart each second
                    Pseries0 = this.series[0];
                    Pseries1 = this.series[1];
                    //set marker on last point
                   
                    setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                    y0 = parseFloat(document.getElementById('Battery2').innerText);
                    
                    //console.log(series0);
                    //y = y+1;
                    y1 = parseFloat(document.getElementById('Battery1').innerText);
                    Pseries0.addPoint([x, y0], true, true);
                    Pseries1.addPoint([x, y1], true, true);
                    }, 1000);
                }
            }
        },
        title: {
            text: 'BatterySoC'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 1
        },
        yAxis: {
            title: {
                text: 'Value'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            min: 0,
            max: 120
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    Highcharts.dateFormat('%H:%M:%S', this.x) + '<br/>' +
                    Highcharts.numberFormat(this.y, 2);
            }
        },
        legend: {
            enabled: true
        },
        exporting: {
            enabled: true
        },
        series: [{
            name: 'Battery1 Soc',
            data: data
        },
                {
            name: 'Battery2 SoC',
            data: data
        }],
    });
});
</script>
</body>