<!-- THIS FILE IS LOADED PERIODICALLY BY THE SCRIPT table.js -->
<!DOCTYPE = html>
<table align="center" padding = "10px" border=2 width =80% back style="background-color:floralwhite">
  
  <!-- TO ADD MORE CONTENT TO THE TABLE, ADD AN ENTRY PER ROW-->
  <!-- NOTE: {Variable} is a django template and the variable values are rendered to this html file as a dictionary by table(request) in views.py -->
  
  <!--  ROW 0   -->
  <tr id="header">                <!-- TABLE COLUMNS -->
      <td> PV </td>               <!--COLUMN 1 HEADER-->
      <td> Battery 1</td>         <!--COLUMN 2 HEADER-->
      <td> Battery 2 </td>        <!--COLUMN 3 HEADER-->
      <td> Inverter </td>         <!--COLUMN 4 HEADER-->
      <td> DC-Bus Voltage </td>   <!--COLUMN 5 HEADER-->
  </tr>
  
  <!--  ROW 1   -->
  <tr>
      <td> Voltage = <b>{{PV}}</b></td>
      <td> Current =  <b>{{Current_Battery_1}}</b></td>
      <td> Current =  <b>{{Current_Battery_2}}</b></td>
      <td> Voltage =   -- </td>
      <td> Voltage =  <b>{{DC_Bus_Voltage}}</b></td>
  </tr>
  
  <!--  ROW 2   -->
  <tr>
      <td>  Current = 2.7734 </td>
      <td>  Rd1 = <b>{{Rd1}}</b> </td>
      <td>  Rd2 = <b>{{Rd2}}</b> </td>
      <td>  Current = -- </td>
      <td> </td>
  </tr>
  
  <!--  ROW 3   -->
  <tr>
      <td>  Power = 2.7734 </td>
      <td>  Battery1 SoC = <b>{{Battery_1}} %</b></td>
      <td>  Battery2 SoC = <b>{{Battery_2}} % </b></td>
      <td>  Power = -- </td>
      <td> </td>
  </tr>
</table><br>
      
<!-- <script>
function MyFunction(input){
    $.ajax({
        type: "GET",
        url: "test.py",
        data: { param: input },
        success: callbackfunc
    });
}
function callbackfunc(response){
        window.alert(response);
        console.log(response);
}
</script> -->